body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #434f64, #cfdef3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #c4c0c0;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(181, 166, 166, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  color: #333;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s;
}

.inputField:focus {
  border-color: #6c63ff;
  outline: none;
}

.actionBtn {
  width: 100%;
  padding: 12px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.actionBtn:hover {
  background-color: #574fd6;
}

.toggleText {
  margin-top: 20px;
  color: #6c63ff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
